html body {
  background-color: $defaultBackground;

    #react #riff-dashboard-page-full {
        background-color: $defaultBackground;
        font-family: sans-serif;

        @import '../react/features/riff-dashboard-page/src/sass/main.scss';

        h2 {
            color: #ffffff;
        }
    }
}

#meeting-mediator-wrapper {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    cursor: move;
    pointer-events: all;

    &.closed {
       display: none;
    }

     .chart-card-title {
        justify-content: start !important;

         .chart-card-toggle {
             margin-left: 10px;
        }
    }

     .meeting-mediator-close {
        position: absolute;
        top: 0;
        right: 0;
        color: #4a4a4a;
        cursor: pointer;
        height: 24px;
        width: 24px;
        padding: 5px;
        z-index: 1;

        svg {
            fill: #4a4a4a;
        }
    }

    @import '../react/features/riff-dashboard-page/src/sass/main.scss';
}

/* tooltip for meeting-mediator */
body > .tooltip {
    z-index: 1000;
}

.prejoin-preview-login-anon-btn {
    width: 50% !important;
    box-sizing: border-box;
}

.videocontainer__toolbar {
    background-image: linear-gradient(to top,rgba(0,0,0,.6),rgba(0,0,0,0));
}

// fix bottom difference between indicators for using text-overflow: ellipsis
.indicator-container {
    overflow: hidden;
}

.indicator-container:nth-child(1) .username-indicator {
    margin-left: 0;
}

.username-indicator-container {
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 60%;
    
    &.username-indicator-filmstrip-view {
        float: left !important;

        .username-indicator {
            margin-left: 10px;
        }
    }

    div {
        display: inline;
    }
}

#localVideoContainer {

    .username-indicator-filmstrip-view .username-indicator {
        margin-left: 0;
    }
}

.username-indicator {
    font-size: 8pt;
    text-align: center;
    color: #fff;
    width: 12px;
    line-height: 22px;
    height: 22px;
    padding: 0;
    border: 0;
    margin: 0 5px 0 5px;
}

// Participant name by default always show on video container
// in order to improve the user experience.  
.displayNameContainer {
  display: none;
}

.large-video-labels .circular-label.file {
    background: rgb(153 174 144);
}
