html body {
  background-color: $defaultBackground;

    #react #riff-dashboard-page-full {
        background-color: $defaultBackground;
        font-family: sans-serif;

        @import '../react/features/riff-dashboard-page/src/sass/main.scss';

        h2 {
            color: #ffffff;
        }
    }
}

#meeting-mediator-wrapper {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    cursor: move;
    pointer-events: all;

    @import '../react/features/riff-dashboard-page/src/sass/main.scss';
}

/* tooltip for meeting-mediator */
body > .tooltip {
    z-index: 100;
}
