.meeting-info-component {
  padding: 24px;


  .meeting-name {
    font-size: 28px;
    font-weight: 600;
    line-height: 1.43;
    color: $color-mineShaft;
    margin-bottom: 13px;
  }

  .meeting-details {
    display: flex;
    justify-content: flex-start;
    font-size: 16px;
    line-height: 1.63;
    color: $color-tundora;

  h2 {
    margin-right: 24px;

    i {
      width: 21px;
      height: 26px;
      font-family: AppleColorEmoji;
      color: rgba(0, 0, 0, 0.87);
      margin-right: 6px;
    }
  }
  }
}
